html, body {
  height: 100%;
  max-width: 100%;
}
body {
  font-family: 'Glegoo', 'Palatino', 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 300;
  max-width: 100%;
  background-color: black;
  justify-content: center;
}
.panel {
  position: fixed;
  height: auto;
  color: white;
  margin: 1rem;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
justify-content: center;
width: 100%;
text-align: center;
color: white;
display: inline-block;
}


section:not(.first) {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
}


.description{
  margin: 10rem;
  padding: 2rem;
  max-width: 100%;
  outline: 1px solid;
  font-size: 15px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-height: 100%;
}

h2{
  font-family: 'Orbitron', 'Verdana', sans-serif;
  margin: 1rem;
}
nav {
  position: sticky;
  top: 16px;
  right: 10px;
  background: white;
  padding: 1rem;
  font-size: 15px;
  text-align: justify;
  justify-content: space-between;
}

#header{
  font-family: 'Orbitron', 'Verdana', sans-serif;
position: absolute;
margin: 0;
}
img{
  max-width: 100%;
  max-height: 100%
}

nav a {
  color: black;
  font-size: 1em;
  line-height: 0.5rem;
  text-decoration: none;
  margin: 1rem;
  padding-right: 1rem;
}
nav a:hover {
  text-decoration: underline;
  color: #1B03A3;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: black;
  max-width: 100%;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background:#fc4236;
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: #fc4236;
  background-attachment: fixed;
}

button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 15px;
  text-align: center;
}
ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
    display: inline;
}

li{
  display: inline;
}
.portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  -webkit-animation: spin 2000ms linear infinite, moveLeftToRight 5s linear infinite;
  -moz-animation: spin 2000ms linear infinite, moveLeftToRight 5s linear infinite;


  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  position: relative;
  left: 0;
  max-width: 100%;
}


/* Spinning the sphere using key frames */
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}




@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#bigmoney {
  transition: --num 6s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}
#bigmoney::after {
  content: counter(num);
}
#bigmoney:hover {
  --num: 21;
  color: RED;
}

.border{
  outline: 1px solid white;
  margin: 10rem;
}

.horizSlider {
  position: relative;
  white-space: nowrap;
  overflow: auto;
}
.horizSlider .slide {
  display: inline-block;
  position: relative;
  margin: 1rem;
  padding: 1rem;
}
.slideText {
  position: relative;
  left: 50%;
text-align: center;
  color: black;
  background-color: white;
  z-index: 1;
  font-size: 1em;
  padding: .2rem;
}
.slideImage {
  height: 400px;
  transform-origin: bottom left;
  max-width: 100%;
  filter: grayscale(100%);
}


@media screen and (max-width: 700px) {
  body {
    margin: 1rem;
    max-width: 100%;
  }
  .portrait{
    height: 150px;
    width: 150px;
  }

  #header{
    margin: 1rem;
  }

}



@media screen and (max-width: 400px) {
  body {
    margin: 1rem;
    max-width: 100%;
  }
  .portrait{
    height: 100px;
    width: 100px;
  }
  .panel{
  width: 82%;

  }

  .description{
    margin: 1rem;
    padding: 1rem;
    font-size: 18px;
  }

  .border{
    margin: 2rem;
    padding: 1rem;
  }

h2{
margin: 0;
font-size: 25px;
}

#header{
  margin: 1rem;
}

}
